// Fonts
$fontOne: 'Poppins', sans-serif;
$fontTwo: 'Open Sans', sans-serif;

//Media Queries
$tablet: 768px;
$desktop: 1024px;

// Colors
   /* Primary */

   $Pink: hsl(322, 100%, 66%);
   $Light-Pink: hsl(321, 100%, 78%);
   $Light-Red: hsl(0, 100%, 63%);

   /* Neutral */

  $Very-Dark-Cyan: hsl(192, 100%, 9%);
  $Very-Pale-Blue: hsl(207, 100%, 98%);
  $Grayish-blue: hsl(210, 4%, 67%);

// $separacion: 5rem;
